<html>
    <head>
        <title> Moon's blog </title>
    </head>
    <body>
        <div>
            <h1><a href="">Moon's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.04.2020, 시:분</p>
            <h2><a href="">My first post</a></h2>
            <p>글 내용이 솰ㄹ솨뢋라 모르게다???</p>
        </div>

        <div>
            <p>published: 32.12.2020, 13:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there! It works!!!!!!!!!!!!</p>
        </div>
    </body>
</html>